# =========================================
# GERAL
# =========================================
*.log
*.tmp
*.swp
*.DS_Store
Thumbs.db

# =========================================
# JAVA / SPRING
# =========================================
/target/
/out/
/build/

# Arquivos de IDE
.idea/
.vscode/
*.iml

# Arquivos de testes gerados
*.class
*.war
*.ear

# =========================================
# MAVEN / GRADLE
# =========================================
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper-downloader.properties
.gradle/
!gradle-wrapper.jar  # manter o wrapper versionado

# =========================================
# DOCKER / INFRA
# =========================================
# Pastas de dados de containers
postgres-data/
rabbitmq-data/
rabbitmq-log/
mysql-data/
mongo-data/
db-mongodb/
redis-data/

# Volumes temporários
volumes/
data/

# Imagens ou caches
*.tar
*.pid

# =========================================
# LINUX / MAC / WINDOWS
# =========================================
*.out
*.lock
*.bak
*.orig
